h1 {
  font-weight: bolder;
  color: #0f0202;
  background-color: rgba(0, 0, 0, 0); }

h2 {
  color: #f2e6e6;
  background-color: rgba(99, 111, 99, 0.6); }

.title {
  color: white;
  text-decoration-style: double; }

.content {
  background-color: rgba(172, 184, 172, 0.5);
  color: black;
  font-weight: bolder;
  margin-bottom: 30%; }

h3 p {
  color: #e9dede;
  background-color: rgba(13, 16, 13, 0.6); }

a {
  color: white; }
