body, html {
  height: 100%; }

/* Main backround image */
.fa-phone {
  font-size: 3rem;
  margin-top: 20%;
  color: black; }

.phone-lg {
  color: white;
  text-align: left;
  margin-top: 5%;
  font-weight: bolder; }

.text {
  color: white;
  text-align: right;
  margin-top: 5%;
  font-weight: bolder; }

.fa-mobile-alt {
  font-size: 3rem;
  margin-top: 20%;
  color: black; }

footer {
  height: 5%;
  overflow: hidden;
  background-color: rgba(124, 109, 109, 0.5); }

footer p {
  text-align: center;
  font-size: 1rem; }
