


h1 {
    font-size: 3rem;
    border-bottom:solid;
    border-bottom-color: white;
    background-color:rgba(22, 7, 2,.2);
}

p {
    color:white;
  
    
}

h2 {
    color: white;
    font-size:2rem;
    border-bottom:none;
    background-color: rgba(22, 7, 2,.3)
}

address {
    background-color: rgba(22, 7, 2,.8);
    color:white;
    font-weight: bolder;
    
}
label {
    color:rgb(221, 212, 212);
    background-color: rgba(22, 7, 2,.2)
}

.map {
    margin-bottom: 150px;
    margin-top:20px;
}

